.card {
    width: 100%;
}

.card__image {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
}

.card__title {
    color: #fe5f1e;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.card__price {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.button {
    background-color: khaki;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
}

.card__link {

}